<tr class="fw-normal">
  <th>
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
      alt="avatar 1"
      style="width: 45px; height: auto"
    />
    <span class="ms-2">Omer</span>
  </th>
  <td class="false-todo">
    <span>todo Title</span>
  </td>
  <td class="align-middle">
    <h6 class="mb-0">
      <span class="badge false-status-todo">status</span>
    </h6>
  </td>
  <td class="align-middle">
    <button class="badge edit-todo-btn">
      <i class="fas fa-balance-scale" aria-hidden="true"></i>Edit
    </button>
    <button class="badge bg-danger delete-todo-btn">Delete</button>
    <button class="badge change-status-btn">Change Status</button>
  </td>
</tr>
