<!-- <div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-12 col-xl-7">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <h4 class="text-center my-3 pb-3">To Do App</h4>
          <table class="table mb-4">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Todo item</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
              <todo
                *ngFor="let todo of todos"
                [todo]="todo"
                (TodoDelete)="deleteTodo($event)"
                (TodoUpdateStatus)="
                  updateStatusTodo($event._id, $event.is_complated)
                "
              ></todo>
            </thead>
            <div></div>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="wrapper">
  <div class="task-input">
    <input type="text" placeholder="Add a New Task + Enter" />
  </div>
  <div class="controls">
    <div class="filters">
      <span class="active" id="all">All</span>
      <span id="pending">Pending</span>
      <span id="completed">Completed</span>
    </div>
    <button class="clear-btn">Clear All</button>
  </div>
  <ul class="task-box"></ul>
</div>
