<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check"
                width="60"
              />
              <h2 class="my-4">Task List</h2>
              <button class="add-todo-button" [routerLink]="['/todo/add']">
                Add Todo
              </button>
            </div>
            <spinner
              [(ngModel)]="todos"
              *ngIf="!todos; else Todos"
              class="d-flex justify-content-center"
            ></spinner>

            <ng-template #Todos>
              <table class="table text-white mb-0">
                <thead>
                  <tr>
                    <th scope="col">Team Member</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <app-complated-todo *ngFor="let todo of todos"></app-complated-todo> -->
                  <tr
                    class="fw-normal"
                    *ngFor="let todo of todos"
                    [ngClass]="{ 'false-todo': todo.status?.status == 'done' }"
                  >
                    <th>
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                        alt="avatar 1"
                        style="width: 45px; height: auto"
                      />
                      <span class="ms-2">{{ todo.user }}</span>
                    </th>
                    <td
                      [ngClass]="{
                        'false-todo': todo.status?.status == 'done'
                      }"
                    >
                      <span class="title">{{ todo.title }}</span>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0">
                        <span
                          [ngClass]="{
                            'status-btn': todo.status?.status == 'done',
                            'false-status-todo':
                              todo.status?.status == 'pending'
                          }"
                          class="badge"
                          >{{ todo.status?.status }}</span
                        >
                      </h6>
                    </td>
                    <td class="align-middle">
                      <button
                        class="badge edit-todo-btn"
                        [routerLink]="['/todo', todo._id]"
                      >
                        <i class="fas fa-balance-scale" aria-hidden="true"></i
                        >Edit
                      </button>
                      <button
                        class="badge bg-danger delete-todo-btn"
                        (click)="deleteTodo(todo._id)"
                      >
                        Delete
                      </button>
                      <button
                        class="badge change-status-btn"
                        (click)="
                          updateStatusTodo(todo._id, todo.status?._id || '')
                        "
                      >
                        Change Status
                      </button>
                      <a
                        *ngIf="todo.status?.status == 'done' as string"
                        [ngClass]="{
                          'false-todo-expired': todo.status?.status == 'done'
                        }"
                      >
                        Expired
                      </a>
                      <a class="expired-text">{{todo.created_at_time | date}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
