<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-12 col-xl-7">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <h4 class="text-center my-3 pb-3">To Do App</h4>

          <form
            class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
          >
            <div class="col-12">
              <div class="form-outline">
                <div class="d-flex justify-content-beetwen">
                  <input
                    type="text"
                    id="form1"
                    class="form-control"
                    [(ngModel)]="title"
                    name="title"
                  />
                  <button
                    type="submit"
                    class="btn btn-primary mx-2"
                    (click)="addTodo(title)"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>

          <table class="table mb-4">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Todo item</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
              <movie
                *ngFor="let todo of todos"
                [todo]="todo"
                (TodoDelete)="deleteTodo($event)"
                (TodoUpdateStatus)="
                  updateStatusTodo($event._id, $event.is_complated)
                "
              ></movie>
            </thead>
            <div></div>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
