<section class="vh-100" style="background-color: #eee" e>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">To Do App</h4>

            <form
              class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
            >
              <div class="col-12 width-100%">
                <div class="form-outline">
                  <div class="row width-600 justify-content-beetwen">
                    <label class="form-label" for="form1">Todo Name</label>
                    <input
                      *ngIf="todo"
                      type="text"
                      id="form1"
                      name="todo"
                      value="{{ todo.title }}"
                      class="form-control"
                      [(ngModel)]="todo.title"
                      min="5"
                    />
                    <button
                      type="submit"
                      class="btn btn-primary d-flex justify-content-space-beetwen"
                      (click)="editTodo()"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
