<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom" style="margin: max250px">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check"
                width="60"
              />
              <h2 class="my-4" *ngIf="id; else addTitle">Edit Task</h2>
              <ng-template #addTitle>
                <h2 class="my-4">Add Task</h2>
              </ng-template>
              <form (submit)="submitHandler()" [formGroup]="myForm">
                <input
                  class="input"
                  type="text"
                  formControlName="title"
                  [(ngModel)]="myForm.value.title"
                  value="{{ myForm.value.title }}"
                  name="title"
                />
                <select class="option" formControlName="status">
                  <option value="false">Pending</option>
                  <option value="true">Done</option>
                </select>
                <button
                  type="submit"
                  class="button"
                  *ngIf="id; else todoAddButton"
                >
                  Edit
                </button>
                <ng-template #todoAddButton>
                  <button type="submit" class="button">Add</button>
                </ng-template>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- myForm.value.title ? addTodo() : editTodo() -->
