.gradient-custom-2 {
  background: #7e40f6;

  background: -webkit-linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );

  background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );
}
.button {
  background-color: rgba(126, 64, 246, 1);
  width: 75px;
  margin-left: 9px;
  border-radius: 25px;
  border-style: none;
  color: aliceblue;
  height: 45px;
}
.error-text {
  margin: auto;
  display: block;
}

.option {
  margin: auto;
  display: block;
  outline: none;
  color: aliceblue;
  max-width: 250px;
  border-radius: 25px;
  border-style: none;
  background: rgb(148, 146, 236);
  border-inline: none;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button :hover {
  background-color: rgba(80, 139, 252, 1);
  width: 75px;
  margin-left: 9px;
  border-radius: 25px;
  border-style: none;
  color: aliceblue;
  height: 45px;
}
.input {
  margin: auto;
  display: block;
  outline: none;
  color: aliceblue;
  width: 250px;
  border-radius: 25px;
  border-style: none;
  background: rgb(148, 146, 236);
  border-inline: none;
  padding-left: 25px;
  height: 40px;
}

::placeholder {
  color: aliceblue;
  opacity: 0.4;
  font-size: 15px;
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
