<tr class="width" >
  <th (dblclick)="updateStatus(todo._id, todo.is_complated)" scope="row">{{ todo._id }}</th>
  <td >{{ todo.title }}</td>
  <ng-container *ngIf="todo.is_complated == true; else elseTemplate">
    <td>It's okey</td>
  </ng-container>
  <ng-template #elseTemplate> It's pending </ng-template>
  <td>
    <button
      type="submit"
      class="btn btn-danger"
      (click)="TodoDelete.emit(todo._id)"
    >
      Delete
    </button>
    <button
      type="submit"
      class="btn btn-success ms-1"
      [routerLink]="['/edit-movie', todo._id]"
    >
      Edit
    </button>
  </td>
</tr>
